<html>
	<head>
	</head>
	<body>
		<h1>Scan my identity</h1>
		<ul>
		{% for user in users %}
			<li><a href="api/connect/?apikey=GTqg08fjeb&yourid=140663&theirid={{user.key.id()}}">{{user.name}}</a></li>
		{% endfor %}
		</ul>
		<a href="/register/">Create a new account</a>
	</body>
</html>